dist
public
.local
node_modules
pnpm-lock.yaml
release
**/.vitepress/dist
**/.vitepress/cache
apps/frontend/src/typings/components.d.ts
apps/frontend/src/router/elegant/*
apps/frontend/src/typings/schema.d.ts
apps/frontend/src/typings/i18n.d.ts