# Postgresql
POSTGRESQL_ASYNC_SCHEME=postgresql+asyncpg
POSTGRESQL_SYNC_SCHEME=postgresql+psycopg
POSTGRESQL_USERNAME=root
POSTGRESQL_PASSWORD=123456
POSTGRESQL_HOST=localhost
POSTGRESQL_PORT=35432
POSTGRESQL_DATABASE=client

# Redis
REDIS_SCHEME=redis
REDIS_MAX_CONNECTIONS=10
REDIS_ROOT_USERNAME=
REDIS_ROOT_PASSWORD=123456
REDIS_HOST=localhost
REDIS_PORT=36379

# Celery
CELERY_REDIS_DATABASE=1
ENABLE_CELERY_MONITOR=True

# m=Minio
MINIO_ROOT_USER=root
MINIO_ROOT_PASSWORD=12345678

# Socketio admin
SOCKETIO_ADMIN_USERNAME=admin
SOCKETIO_ADMIN_PASSWORD=123456

# Log
LOG_LEVEL=INFO
LOG_FILE_ACCESS_LEVEL=INFO
LOG_FILE_ERROR_LEVEL=WARNING
SLOW_REQUEST_THRESHOLD_MS=3000

# CORS
CORS_HEADERS=["*"]
CORS_ORIGINS=["*"]

# Rate Limit
DEFAULT_LIMITS=["20/minute"]

APP_NAME=RapidKit
ENVIRONMENT=LOCAL
DATETIME_TIMEZONE="Asia/Shanghai"
DEFAULT_LANGUAGE=zh-CN

# Auth, The `local` option is optional and can be omitted.
ACCESS_TOKEN_KEY=your_access_token
REFRESH_TOKEN_KEY=your_refresh_token
# It can be either a `.pem` file path or an RSA key.
RSA_PRIVATE_KEY=
RSA_PUBLIC_KEY=
